@import '~mdb-ui-kit/css/mdb.min.css';
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Carousel{
  max-height: 500px;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}